<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<mvc:annotation-driven></mvc:annotation-driven>

	<context:component-scan base-package="com.tota.transport.controller" />

	<context:component-scan base-package="com.tota.transport.platform.*.service" />




	<!-- velocity视图解析配置 -->
	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="configLocation">
			<value>classpath:velocity.properties</value>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>
				<bean  class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
					<property name="order" value="1"></property>
					<property name="cache" value="false"/>
					<property name="layoutUrl" value="layout/layout.vm"/>
					<property name="suffix" value=".vm"/>
					<property name="contentType" value="text/html;charset=UTF-8"/>
					<property name="dateToolAttribute">
						<value>dateTool</value>
					</property>
					<property name="attributesMap">
						<map>
							<!--Velocity Tool -->
							<entry key="escapeTool">
								<bean class="org.apache.velocity.tools.generic.EscapeTool"/>
							</entry>
							<entry key="dateTool">
								<bean class="org.apache.velocity.tools.generic.DateTool"/>
							</entry>
						</map>
					</property>
				</bean>


				<bean id="htmlviewResolver"
					  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass" value="com.tota.transport.resolver.HtmlResourceView"/>
					<property name="order" value="0" />
					<property name="prefix" value="/WEB-INF/vm/"/>
					<property name="suffix" value=".html" />
					<property name="contentType" value="text/html;charset=UTF-8"></property>
				</bean>
			</list>
		</property>

		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>
			</list>
		</property>
	</bean>



	<!--<bean id="multipartResolver"-->
	<!--class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
	<!--&lt;!&ndash; 上传文件大小上限，单位为字节（10MB） &ndash;&gt;-->
	<!--<property name="maxUploadSize">-->
	<!--<value>10485760</value>-->
	<!--</property>-->
	<!--&lt;!&ndash; 请求的编码格式，必须和jSP的pageEncoding属性一致，以便正确读取表单的内容，默认为ISO-8859-1 &ndash;&gt;-->
	<!--<property name="defaultEncoding">-->
	<!--<value>UTF-8</value>-->
	<!--</property>-->
	<!--</bean>-->


</beans>