<head>
    <title>我的桌面</title>
</head>


<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


<body style="text-align:center">
<div class="page-container">
    <p class="f-20 text-success">接口测试页面</p>

             <fieldset>
                 <div id="legend" class="">
                     <legend class="">接口调试</legend>
                 </div>

                 <div class="control-group">

                     <div class="control-group">
                         <label class="control-label">同城快递类型</label>

                         <!-- Button -->
                         <div class="controls">
                             <!-- 标准的按钮 -->
                             <button type="button" class="btn btn-default">达达同城快递</button>
                         </div>
                     </div>

                     <!-- Select Basic -->
                     <label class="control-label">接口选择</label>

                     <div class="controls">
                         <select class="input-xlarge" style="width: 170px;height: 30px" id="service">
                             <option value="/api/order/addOrder">新增订单</option>
                             <option value="/api/order/reAddOrder">订单重发 </option>
                             <option value ="/api/order/queryDeliverFee">查询订单运费</option>
                             <option value="/api/order/addAfterQuery">查询运费后发单 </option>
                             <option value="/api/order/addTip"> 添加小费</option>
                             <option value="/api/order/status/query">订单详情查询 </option>
                             <option value="/api/order/cancel/reasons">订单取消原因 </option>
                             <option value="/api/order/formalCancel">订单取消 </option>
                             <option value="/api/order/appoint/list/transporter">查询配送员 </option>
                             <option value="/api/order/appoint/exist">追加订单给配送员 </option>
                             <option value="/api/order/appoint/cancel"> 取消追加订单给配送员</option>
                             <option value="/api/cityCode/list">获取城市信息 </option>
                             <option value="/merchantApi/merchant/add"> 注册商户</option>
                             <option value="/api/shop/add">新增门店 </option>
                             <option value="/api/shop/update">门店更新 </option>
                             <option value="/api/shop/detail"> 门店详情</option>
                             <option value="/api/complaint/reasons">商家投诉达达原因 </option>
                             <option value="/api/complaint/dada">商家投诉达达 </option>
                             <option value="/api/recharge"> 充值</option>
                             <option value="/api/balance/query">查询余额 </option>
                             <option value="/api/order/accept">模拟接受订单 </option>
                             <option value="/api/order/fetch">模拟完成取货 </option>
                             <option value="/api/order/finish">模拟完成订单 </option>
                             <option value="/api/order/cancel">模拟取消订单 </option>
                             <option value="/api/order/expire">模拟订单过期 </option>
                         </select>
                     </div>

                 </div>

                 <div class="control-group">

                     <!-- Textarea -->
                     <label class="control-label">请求body</label>
                     <div class="controls">
                         <div class="textarea">
                             <textarea id="param" style="height:200px;width: 500px">
{"shop_no":"11047059","origin_id":"654151516","city_code":"1432","cargo_price":1.00,"is_prepay":"0","receiver_name":"szg","receiver_address":"sz","receiver_lat":22.563612,"receiver_lng":113.88391,"callback":"www.google.com","receiver_phone":"15712102476"}
                             </textarea>
                         </div>
                     </div>
                 </div>

                 <div class="control-group">
                     <label class="control-label">Button</label>

                     <!-- Button -->
                     <div class="controls">
                         <button  class="btn btn-success" type="submit" onclick="confirm()">发送请求</button>
                     </div>
                 </div>

                 <div class="control-group">

                     <!-- Textarea -->
                     <label class="control-label">响应result</label>
                     <div class="controls">
                         <div class="textarea">
                             <textarea id="result" style="height:300px;width: 500px">

                             </textarea>
                         </div>
                     </div>
                 </div>


             </fieldset>

</div>

<script>
   var service="";
   var body="";


    $("select[id='service']").change(function(){
        service = $(this).val();
       //alert(service);

        if(service=="/api/order/queryDeliverFee"){
            body='{"shop_no":"11047059","origin_id":"87683534","city_code":"0755","cargo_price":14.00,"is_prepay":"0","receiver_name":"szg","receiver_address":"深圳市宝安区建安一路99号","callback":"www.google.com","receiver_phone":"15712102476"}';
        }else if(service=="/api/order/addOrder" ){
            body='{"shop_no":"11047059","origin_id":"654151516","city_code":"1432","cargo_price":1.00,"is_prepay":"0","receiver_name":"szg","receiver_address":"sz","receiver_lat":22.563612,"receiver_lng":113.88391,"callback":"www.google.com","receiver_phone":"15712102476"}';
        }else if(service=="/api/order/reAddOrder" ){
            body='{"shop_no":"11047059","origin_id":"654151516","city_code":"1432","cargo_price":12.00,"is_prepay":"0","receiver_name":"szg","receiver_address":"SZ","receiver_lat":22.563612,"receiver_lng":113.88391,"callback":"www.google.com","receiver_phone":"15712102476"}';
        }else if(service=="/api/order/addAfterQuery" ){
            body='{"deliveryNo":"Dadabcaa8bd3546e4c0db37584032e5e9f89"}';
        }else if(service=="/api/order/addTip" ){
            body='{"order_id":"654151516","tips":1.0,"city_code":"1432"}';
        }else if(service== "/api/order/status/query"){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/order/cancel/reasons" ){
            body='';
        }else if(service=="/api/order/formalCancel" ){
            body='{"order_id":"654151516","cancel_reason_id":"1","cancel_reason":"没有配送员接单"}';
        }else if(service=="/api/order/appoint/list/transporter" ){
            body='{"shop_no":"11047059"}';
        }else if(service=="/api/order/appoint/exist" ){
            body='{"order_id":"654151516","transporter_id":"666","shop_no":"11047059"}';
        }else if(service=="/api/order/appoint/cancel" ){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/cityCode/list" ){
            body='';
        }else if(service=="/merchantApi/merchant/add" ){
            body='{"mobile":"15728640840","city_name":"深圳","enterprise_name":"通腾科技有限公司","enterprise_address":"TCL国际E城F3栋","contact_name":"段经传","contact_phone":"15728640840","email":"982941440@qq.com"}';
        }else if(service=="/api/shop/add" ){
            body='[{"station_name":"新门店1234","origin_shop_id":"shop001234","area_name":"浦东新区","station_address":"地址1","contact_name":"xxx","city_name":"上海","business":1,"lng":121.515014,"phone":"13012345678","lat":31.229081}]';
        }else if(service=="/api/shop/update" ){
            body='{"origin_shop_id":"73753-26342","station_name":"cuteShop"}';
        }else if(service=="/api/shop/detail" ){
            body='{"origin_shop_id":"73753-26342"}';
        }else if(service=="/api/complaint/reasons" ){
            body='';
        }else if(service=="/api/complaint/dada" ){
            body='{"order_id":"654151516","reason_id":"4"}';
        }else if(service=="/api/recharge" ){
            body='{"amount":0.1,"category":"H5","notify_url":"www.baidu.com"}';
        }else if(service=="/api/balance/query" ){
            body='{"category":"1"}';
        }else if(service=="/api/order/accept" ){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/order/fetch" ){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/order/finish" ){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/order/cancel" ){
            body='{"order_id":"654151516"}';
        }else if(service=="/api/order/expire" ){
            body='{"order_id":"654151516"}';
        }

        $("#param").val(body);
        $("#result").val("");

    });

        function confirm() {

            var  body= $("#param").val();

            $.ajax({
                url:"$!{request.contextPath}//transport",
                type:"post",
                async:true,
                data:{
                    transType:"1",
                    service:service,
                    body:body,
                },
                dataType:"json",
                success:function(data){

                    var vendorJson = eval(data);

                    $("#result").val(JSON.stringify(vendorJson));
                },
                error:function(e){
                    alert("错误！！");

                }
            });


    }


</script>


</body>
</html>